* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
html,body{
  color: #333333;
}
p{
  margin: 0;
}

ul{
  padding: 0;
}

